body {
  background-color: #2f2f2f;
  color: #fff;
  padding: 80px;
}

.movie {
  display: flex;
  margin-bottom: 80px;
}

.movie img {
  margin-right: 40px;
  border-radius: 8px;
}

.genres {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.genre {
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 400;
}
